html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}
button#sfid-login-button {
    background-color: #fff;
    color: rgba(228, 119, 57, 1);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 22px;
    width: 120px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}
button#sfid-login-button:hover {
    background-color: #317cbd;
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 22px;
    width: 120px;
    text-align: center;
    font-weight: bolder;
    font-size: 18px;
}
div.index-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
}
div.profile-container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
div.profile-header {
    height: 139px;
    background-repeat: no-repeat;
    background-size: 100%;
}
div.profile-body {
    padding: 20px;
    margin: 20px;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
}
div#salesforce-login {
    position: absolute;
    top: 40px;
    right: 130px;
    z-index: 10;
}
a.sfid-avatar-name, a.sfid-avatar-name:visited {
    color: #fff;
}
a.sfid-avatar-name:hover {
    color: #fff;
    text-decoration: none;
}

/* Profile */
div.card {
    width: 12rem !important;
    min-width: 12rem !important;
    margin: 10px;
}

div#contactDetails {
    width: 25%;
}
div#contactDetails div.card {
    width: 250px !important;
}

div#profile-info {
    width: 70%;
    text-align: left;
}
.row {
    display: flex;
    flex-wrap: wrap;
 }

 .row > div[class*='col-'] {
   display: flex;
 }

 div#bookings, div#searches, div#wishes {
     margin-top: 10px;
     margin-bottom: 10px;
 }