html {
    height: 100%;
}
button#sfid-login-button {
    background-color: #fff;
    color: rgba(228, 119, 57, 1);
    padding: 20px;
    border-radius: 30px;
    width: 120px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}
div.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 20px;
    margin: auto;
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
div#salesforce-login {
    position: absolute;
    top: 20px;
    right: 50px;
    z-index: 10;
}